* {
  border: 1px solid red;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-width: 450px;
}

/* ------ HEADER SECTION -------- */
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-width: 450px;
  text-align: center;
  padding: 20px;
  /* overflow: hidden; */
}

/* ---- MAIN - START PAGE ----- */
.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 450px;
  text-align: center;
}

/* ---- MAIN - START PAGE ----- */

.question-container,
.save-score-container {
  margin: 0 auto;
  width: 80vh;
  min-width: 450px;
  align-content: center;
  text-align: left;
}

.hide {
  display: none;
}

/* .cloak {
  visibility: hidden;
} */

/* .show {
  display: block;
} */
