* {
  border: 1px solid red;
  box-sizing: border-box;
}

html {
  width: 100%;
  /* min-width: 450px; */
  font-family: "Raleway", "Nunito Sans", "Notable", sans-serif;
}

/* ------ HEADER SECTION -------- */
header {
  display: flex;
  justify-content: space-between;
  /* width: 100vw; */
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.high-scores-link {
  color: blue;
}

/* ---- HOME PAGE ----- */
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* min-width: 450px; */
  text-align: center;
}

.home-page p {
  width: 750px;
  margin: 0px;
  font-size: 24px;
  line-height: 1.25;
}

.home-page button {
  width: 175px;
  height: 60px;
  margin-top: 22px;
  padding: 5px;
  color: white;
  font-size: 24px;
  background-color: black;
  border-radius: 5px;
}

.home-page button:hover {
  color: black;
  background-color: white;
}

/* ---- QUESTION, SAVE, SCORE PAGES ----- */

.question-container,
.save-score-container,
.high-scores-container {
  margin: 0 auto;
  width: 80vh;
  /* min-width: 450px; */
  /* display: flex;
  flex-direction: column;
  align-content: space-between;
  flex: 0 0 700px; */
  /* align-content: center; */
  text-align: left;
  /* margin: 40px; */
}

.question-input {
  height: 125px;
  margin-bottom: 0px;
}

.answer-container {
  height: 100px;
  margin: 0px;
}

.answer-status {
  height: 24px;
  margin: 0px;
}

.question-number {
  text-align: right;
  margin: 0px;
}

.add-border {
  border-bottom: 3px solid grey;
}

.player-initials {
  text-transform: uppercase;
}

.error-message {
  color: red;
  font-weight: bold;
}

.hide {
  display: none;
}

.cloak {
  visibility: hidden;
}

/* ---------- MOBILE RESPONSIVE ---------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* LARGE SCREEN SIZE */
@media screen and (min-width: 1600px) {
}

/* MEDIUM SCREEN SIZE */
@media screen and (max-width: 768px) {
  header {
    /* font-size: 20px; */
    font-size: 16px;
  }

  
  /* HOME PAGE MOBILE */
  .home-page p {
    width: 650px;
  }

  .home-page p,
  .home-page button {
    /* font-size: 24px; */
    font-size: 20px;
  }

  .home-page button {
    width: 150px;
    height: 50px;
  }
}

/* SMALL SCREEN SIZE */
@media screen and (max-width: 650px) {
  html {
    min-width: 360px;
  }
  
  /* HOME PAGE MOBILE*/
  header {
    /* min-width: 100px; */
    padding-bottom: 0px;
    font-size: 14px;
  }

  .home-page h1 {
    /* margin-top: 0px; */
    font-size: 26px;
  }

  .home-page p {
    width: 325px;
    /* max-width: 360px; */
  }

  .home-page p,
  .home-page button {
    font-size: 14px;
  }

  .home-page button {
    width: 125px;
    height: 40px;
  }

  /* ---- QUESTION, SAVE, SCORE PAGES ----- */

  .question-container,
  .save-score-container,
  .high-scores-container {
    /* margin: 0 auto; */
    /* max-width: 360px; */
    /* width: 80vh;
    min-width: 450px; */
    /* align-content: center; */
    /* text-align: left; */
    /* font-size: 16px; */
  }

  .question-input {
    /* height: 100px; */
    /* margin-bottom: 0px; */
    font-size: 26px;
    /* text-align: center; */
  
  }

  .answer-container {
    /* width: 80vh; */
    height: 100px;
    margin: 0px;
  }

  .answer-status {
    /* height: 24px;
    margin: 0px; */
  }

  .question-number {
    text-align: right;
    text-align: left;
    margin: 0px;
  }

  .add-border {
    border-bottom: 3px solid grey;
  }

  
}

