* {
  border: 1px solid red;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

/* ------ HEADER SECTION -------- */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.high-scores-link {
  color: blue;
}

/* ---- HOME PAGE ----- */
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.home-page p {
  width: 750px;
  margin: 0px;
  font-size: 24px;
  line-height: 1.25;
}

.home-page button {
  width: 175px;
  height: 60px;
  margin-top: 22px;
  padding: 5px;
  color: white;
  font-size: 24px;
  background-color: black;
  border-radius: 5px;
}

.home-page button:hover {
  color: black;
  background-color: white;
}

/* ---- QUESTION, SAVE, SCORE PAGES ----- */

.question-container,
.save-score-container,
.high-scores-container {
  margin: 0 auto;
  width: 80vh;
  text-align: left;
}

/* ---- QUESTION PAGE ----- */
.question-input {
  height: 140px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 3px;
}

.answer-container {
  height: 150px;
  margin: 0px;
  padding-left: 0px;
}

.answer-container li,
.save-score-container,
.high-scores-container li {
  font-size: 24px;
}

.answer-container li {
  /* width: 200px; */
  height: 30px;
  margin: 5px 0px;
  padding-left: 8px;
  /* padding-left: 0px; */
  /* font-size: 24px; */
  list-style: none;
}

.answer-box {
  color: white;
  background-color: black;
  border-radius: 3px;
}

.answer-box-hover:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.answer-box-selected {
  color: blue;
  background-color: white;
  border: 2px solid red;
}

.answer-status {
  height: 50px;
  margin: 0px;
  font-size: 20px;
}

.question-number {
  text-align: right;
  margin: 0px;
  padding-right: 8px;
  font-size: 18px;
}

.add-border {
  border-bottom: 3px solid grey;
}

/* ---- SAVE PAGE ----- */
.game-over-message {
  padding: 5px;
  border: 2px solid black;
  padding: 8px;
  border-radius: 3px;
}

.final-score-message {
  color: white;
  background-color: black;
  padding: 5px;
}

.player-initials {
  width: 100px;
  height: 30px;
  text-transform: uppercase;
}

.save-button {
  width: 100px;
  /* height: 30px; */
  margin: 5px 5px 5px 0px;
  /* padding: 5px; */
  color: white;
  background-color: black;
  border-radius: 3px;
}

.save-button:hover {
  color: black;
  background-color: white;
}

.error-message {
  color: red;
  font-weight: bold;
}

/* ---- SCORE PAGE ----- */
.high-scores-title {
  border: 2px solid black;
  border-radius: 3px;
  padding: 8px;
}

.high-scores-container ol {
  padding-left: 0px;
}

.high-scores-container li {
  /* width: 275px; */
  height: 30px;
  margin: 5px 0px 5px 0px;
  padding-left: 8px;
  color: white;
  background-color: black;
  border-radius: 3px;
}

/* .high-scores-container li::marker {
  color: black;
} */

.back-to-start-button,
.clear-scores-button {
  width: 165px;
  height: 35px;
  /* padding: 5px; */
  font-size: 24px;
  color: white;
  background-color: black;
  border-radius: 3px;
}

.back-to-start-button:hover,
.clear-scores-button:hover {
  color: black;
  background-color: white;
}

/* ---- HIDE & SHOW ----- */
.hide {
  display: none;
}

.cloak {
  visibility: hidden;
}

/* ---------- MOBILE RESPONSIVE ---------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* LARGE SCREEN SIZE */
@media screen and (min-width: 1600px) {
}

/* MEDIUM SCREEN SIZE */
@media screen and (max-width: 768px) {
  header {
    font-size: 18px;
  }

  /* HOME PAGE MOBILE */
  .home-page p {
    width: 650px;
  }

  .home-page p,
  .home-page button {
    font-size: 22px;
  }

  .home-page button {
    width: 140px;
    height: 50px;
  }
}

/* SMALL SCREEN SIZE */
@media screen and (max-width: 650px) {
  html {
    min-width: 360px;
  }

  /* HOME PAGE MOBILE*/
  header {
    padding-bottom: 0px;
    font-size: 16px;
  }

  .home-page h1 {
    font-size: 26px;
  }

  .home-page p {
    width: 325px;
  }

  .home-page p,
  .home-page button {
    /* font-size: 16px; */
    font-size: 20px;
  }

  .home-page button {
    width: 125px;
    height: 40px;
  }

  /* ---- QUESTION, SAVE, SCORE PAGES ----- */

  .question-container,
  .save-score-container,
  .high-scores-container {
    max-width: 360px;
  }

  .question-input {
    font-size: 26px;
  }

  .answer-container li,
  .save-score-container,
  .high-scores-container li {
    font-size: 20px;
  }

  .answer-status {
    margin: 5px 0px;
  }

  .question-number {
    text-align: right;
    margin: 5px 0px;
  }

  .back-to-start-button,
  .clear-scores-button {
    width: 150px;
    font-size: 20px;
  }
}
